// main.scss

$icon-font-path: '../fonts/';
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


//vars
$base-dark: #169AD9;
$base-light: #39C0E7;
$dark-accent: #00749A;
$base-text: #909090;
$footer-background: #07222C;

body {
  font-family: 'Roboto Slab', serif;
}

//landing/mast/header
#header {

  background: linear-gradient(0deg, $base-dark, $base-light);
  min-height: 500px;

  .navbar {
    margin-bottom: 75px;
    font-family: 'Open Sans', sans-serif;
  }

  .nav-link {
    color: rgba(#FFF, 0.75);
    text-transform: uppercase;
    letter-spacing: 0.16em;

    //only on larger devices
    @media (min-width: 48em) {
      letter-spacing: 0.25em;
      padding-right: 2em;
    }

    &:hover {
      color: #FFF;
    }
  }

  #landing {

    .panel {
      padding: 0 40px;
      min-height: 300px;

      h1 {
        color: #FFF;
        text-transform: capitalize;
      }

      h4 {
        text-transform: capitalize;
        color: $dark-accent;
        margin-top: 100px;
      }

      button {
        margin-top: 65px;
        margin-bottom: 100px;
        background: $dark-accent;
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
        padding: 20px 80px;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 0.15em;

        &:hover {
          background: darken($dark-accent, 5%);
        }
      }
    }
  }
}


//steps section
#steps {
  border-bottom: 1px solid $base-light;

  &:before {
    content: '';
    height: 50px;
    display: block;
    height: 150px;
    position: relative;
    bottom: 45px;
    background: #FFF;
    transform: skewY(-4deg);
  }

  #sub-landing {

    .step {
      padding: 0 65px;
      height: 175px;

      &:nth-child(2) {
        //only on larger devices
        @media (min-width: 48em) {
          border-left: 1px solid $base-light;
          border-right: 1px solid $base-light
        };
      }

      h3 {
        color: $base-light;
        font-weight: 800;

        span {
          color: darken($base-dark, 5%);
        }
      }

      p {
        color: $base-text;
      }
    }
  }
}


//features section
#features {
  $green-color: #63BD70;
  $red-color: #E04848;
  $purple-color: #9365D3;

  background-color: #F6F9F9;
  padding-top: 100px;
  border-bottom: 1px solid $base-light;

  h1 {
    color: $base-light;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;

    span {
      font-weight: 800;
    }
  }

  .icon {
    padding: 35px 0;

    //only show for larger devices
    @media (min-width: 48em) {
      &:nth-child(3) {
        border-top: 1px solid $base-light;
      }
    }

    .feature {
      height: 100px;
      width: 100px;
      border-radius: 50px;
      display: block;
      margin: 0 auto;

      i {
        font-size: 2em;
      }
    }

    .green {
      border: 6px solid $green-color;

      i {
        color: $green-color;
        padding: 25px;
      }
    }

    .red {
      border: 2px solid $red-color;

      i {
        color: $red-color;
        padding: 30px;
      }
    }

    .purple {
      border: 2px solid $purple-color;

      i {
        color: $purple-color;
        padding: 35px;
      }
    }
  }

  .info {
    background: url('../images/performance.png') no-repeat center center;
    background-size: contain;
    height: 500px;

    h3 {
      color: $green-color;

      @media (min-width: 48em) {
        padding-left: 23%;
      }
    }

    p {
      color: $base-text;

      //only reposition on larger devices
      @media (min-width: 48em) {
        span {
          display: block;
          position: relative;
          left: 262px;
          width: 240px;
          height: 100px;
        }
      }
    }
  }

  .line {
    display: block;
    width: 75px;
    height: 60px;
    border-bottom: 2px solid $green-color;
    transform: rotate(90deg);
    position: relative;
    bottom: 15px;
    margin-left: 72px;
  }
}


//trainers section
#trainers {
  padding: 100px 0;

  h1 {
    text-transform: capitalize;
    text-align: center;
    color: $base-light;
    margin-bottom: 25px;

    span {
      font-weight: 800;
    }
  }

  #list {
    margin-top: 35px;
  }

  .card-fitness {
    background-color: $base-dark;
    border-color: #FFF;
    min-height: 340px;
    border-radius: 0;

    .card-img-top {
      min-height: 250px;
      border-radius: 0;
      width: 100%;
    }
  }

  .line {
    width: 200px;
    height: 2px;
    border-top: 1px solid $base-light;
    display: block;
    margin: 0 auto;
  }
}


//stats section
#stats {
  padding: 100px 0;
  background: linear-gradient(225deg, $base-dark, $base-light);
  text-align: center;

  .stat {

    .heading {
      color: #FFF;
      font-size: 5em;
      margin-bottom: 15px;
    }

    .legend {
      color: $dark-accent;
      text-transform: uppercase;
      font-size: 1.5em;
      font-family: 'Open Sans', sans-serif;
    }
  }

  button {
    margin-top: 65px;
    margin-bottom: 35px;
    background: $dark-accent;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 80px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.15em;

    &:hover {
      background: darken($dark-accent, 5%);
    }
  }

}


//footer section
#main-footer {
  $text-color: darken(#FFF, 15%);
  background-color: $footer-background;

  .division {
    margin-top: 75px;
    text-align: center;
    color: #FFF;

    p {
      margin-top: 13px;
      color: $text-color;
    }

    a.nav-link {
      color: $text-color;

      &:hover {
        color: #FFF;
      }
    }
  }
}
